$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       "Lato", "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          14px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        20px !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:    $serifFontFamily; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, $textColor

@import "compass";
@import "utilities";

/* my styles */
//@import "kui";

/* pullquote */
//@import "pullquote";

/* syntax highlight */
@import "custom-colors";
@import "solarized";
@import "syntax";
@import "bootstrap/bootstrap";
@import "bootstrap/responsive";

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 780px;

}

header {
  text-align: center;
}