@import "bootstrap";
@import "responsive";

header {
  border-right: 1px solid #DDD;
  position: fixed;
  top: 30px;
  bottom: 0;
}

body {
  padding-top: 30px;
}

article {
  padding-bottom: 20px;
}

#content {
  position: relative;
  float: left;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1 {

  a {
    &:hover {
      text-decoration:none;
    }
  }

}
