{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <div class= "container">
    <div class= "row">
      <header class="span4" role="banner">{% include header.html %}</header>
      <div id="main">
        <div id="content" class="span8 offset4">
          {{ content | expand_urls: root_url }}
        </div>
      </div>
      <footer role="contentinfo">{% include footer.html %}</footer>
      {% include after_footer.html %}
    </div>
  </div>
  <script>
    (function() {
       var hn = document.createElement('script'); hn.type = 'text/javascript';
       hn.async = true; hn.src = 'http://hnbutton.appspot.com/static/hn.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(hn, s);
    })();
  </script>
</body>
</html>
